<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ekaterina_sarycheva_shop">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic"
        android:label="PicCat"
        android:roundIcon="@drawable/ic"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <activity android:name=".View.Registration" />
        <activity android:name=".View.ProductsActivity" />
        <activity android:name=".View.ProductDetailsActivity" />
        <activity android:name=".View.CategoriesActivity" />
        <activity android:name=".View.TestActivity" />
        <activity android:name=".View.OrderActivity"/>
    </application>

</manifest>